@using Epam.FinalProject.Forum.Models;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Main page";
    var users = UserModel.GetAllUsers();
}
<h4 class="forumhead">Форум</h4>
<a href="#">Раздел</a>
<ul>
    <li><a href="#">Ссылка списка 1</a></li>
    <li><a href="#">Ссылка списка 1</a></li>
    <li><a href="#">Ссылка списка 1</a></li>
    <li><a href="#">Ссылка списка 1</a></li>
    <li><a href="#">Ссылка списка 1</a></li>
</ul>
    



