#footer {
    background-color: #0e0e0e;
    color:white;
    padding:20px;
}
.brand-icon {
    width: 52px;
    padding-right: 5px;
}

.navbar {
    border-radius: 0;
}
.inputmargin{
    margin-bottom:10px;
}

.validation-summary-errors {
    border: 2px solid red;
    color: red;
    font-weight: bold;
    margin: 6px;
    width: 30%;
}

.field-validation-error {
    color: red;
    font-weight: bold;
    background-color: yellow;
}

.input-validation-error {
    color: red;
    font-weight: bold;
    background-color: pink;
}