<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Web pages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Pages/index.cshtml">Home <span class="sr-only">(current)</span></a>
                </li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="~/Pages/Authorization/UserLogin.cshtml">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Pages/Authorization/SignUp.cshtml">Sign up</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="~/Pages/Authorization/SignOut.cshtml">Sign out</a>
                    </li>
                }
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <span class="navbar-text">
                    Пользователь: @User.Identity.Name
                </span>              
            }
        </div>
    </nav>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web Pages ASP.NET EPAM</p>
        </footer>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
</body>
</html>