@using Epam.WebPages.UIweb.Models;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Sign up";
    WebImage photo = null;
    var message="";
    if (IsPost && Validation.IsValid())
    {
        var username = Request["username"];
        var birthday = Convert.ToDateTime(Request["birthday"]);
        photo = WebImage.GetImageFromRequest();
        string password = Request["password"];
        UserModel.Regisration(username, birthday, photo, password, "User");
        FormsAuthentication.SetAuthCookie(username, true);
        Response.Redirect("~/Pages/index.cshtml");
    }
}

<form class="item" method="post" action="~/Pages/Authorization/SignUp.cshtml" enctype="multipart/form-data" asp-controller="UploadFiles">
    <p>Регистрация:</p>
    <div class = "field flex-column-container">
        <div>
            <label for="username">Name:</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="birthday">Birhtday:</label>
            <input type="date" name="birthday" id="birthday" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="file" name="image" value="" accept="image/jpeg,image/png, image/jpg" enctype="multipart/form-data" runat="server" />
        </div>
    </div>
    <button class="btn btn-secondary">Add User</button>
</form>